@model SistemaContas.Presentation.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-5">
            <div class="card-body">

                <div class="text-center">
                    <h3>Acessar Sistema</h3>
                    <p>Entre com suas credenciais de acesso</p>
                </div>

                @using(Html.BeginForm())
                {
                    <div class="mb-2">
                        <label>Email de acesso:</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Email)
                        </span>
                    </div>

                    <div class="mb-2">
                        <label>Senha de acesso:</label>
                        @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Senha)
                        </span>
                        <div class="text-end">
                            <a href="/Account/PasswordRecover">
                                Esqueci minha senha?
                            </a>
                        </div>
                    </div>

                    <div class="mb-2 d-grid">
                        <input type="submit" value="ENTRAR" class="btn btn-primary"/>
                    </div>

                    <div class="mb-2 d-grid">
                        <a href="/Account/Register" class="btn btn-light">
                            Não possui conta? <strong>Cadastre-se aqui!</strong>
                        </a>
                    </div>

                }

                <div class="mt-2 text-center">
                    <small>COTI Informática - Asp.Net MVC</small>
                </div>

            </div>
        </div>
    </div>
</div>