@model SistemaContas.Presentation.Models.PasswordRecoverViewModel

@{
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-5">
            <div class="card-body">

                <div class="text-center">
                    <h3> Recuperar Senha de Acesso</h3>
                    <p>Entre com os seus dados</p>
                </div>

                @using(Html.BeginForm())
                {
                    <div class="mb-2">
                        <label>Email de acesso:</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Email)
                        </span>
                    </div>

                    <div class="mb-2 d-grid">
                        <input type="submit" value="CONFIRMAR" class="btn btn-primary" />
                    </div>

                    <div class="mb-2 d-grid">
                        <a href="/Account/Login" class="btn btn-light">
                            Já possui conta? <strong>Acesse aqui!</strong>
                        </a>
                    </div>

                }

                <div class="mt-2 text-center">
                    <small>COTI Informática - Asp.Net MVC</small>
                </div>

            </div>
        </div>
    </div>
</div>